.title{
    height: 40px;
    display: flex;
    border-bottom: 1px solid #ccc;
    background: #efeff4;
}
.title div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    height: 40px;
    display: flex;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.row div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}

.time {
    flex:4;
    text-align: center;
}
.change{
    flex:3;
}
.win{
    flex:3;
}


.message {
    flex:3
}

.container {
    min-height: 100%;
}