.row {
    height: 40px;
    display: flex;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.row div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    flex:4
}
.change{
    flex:3;
}
.win{
    flex:3;
    color:#30bf27;
}
.lose{
    flex:3;
}

.message {
    flex:3
}

.container {
    min-height: 100%;
}