.rowItem {
    height: 40px;
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 0 12px;
    background: #fff;
    font-size: 14px;
    border-top: 1px solid #eee;
    margin-bottom: 4px;
}

.nickName {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.number {
    margin-right: 10px;
    color: green;
    font-weight: bold;
}

.score {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.score img {
    width: 20px;
    margin-left: 10px;
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logining {
    text-align: center;
    height: 300px;
    line-height: 300px;
    font-size: 16px;
    color: green;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    z-index: 999;
}
.title{
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: green;
    font-weight: bold;
}


/****/

.container{
    display: flex;
    width:100%;
    height:100%;
    background:#eee;
    align-items: center;
    justify-content: center;
    
}
.form{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputRow{
    width: 80%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    width:60%;
}
.loginBtn{
    width: 36%;
    height: 36px;
    background: #fd4d4d;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
