.head{
    height:40px;
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    padding: 0 10px 0 10px;
    background:#fff;
}
.headdate{
    height:40px;
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    padding: 0 10px 0 10px;
    background:#efeff4;
}
.head input{
    height:20px;
    font-size: 12px;
    text-align: center;
}
.headdate input{
    height:20px;
    font-size: 12px;
    text-align: center;
}
.search{
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #30bf27;
    border-radius: 4px;
    color:#fff;
    padding: 0 5px;
}
.timeContainer{
   flex:5;
   display: flex;
   align-items: center; 
}
.time{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
}
.type{
    flex:3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.win{
    color: #338ffe;
}
.lose{
    color:#fd4d4d;
}
.ozero{
    color:#333
}
.allTotal{
    display: flex;
    height: 40px;
    align-items: center;
    background: #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 10px 0 10px;
}
.zero{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#333;
}
.totalWin{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#338ffe;
}
.total{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#fd4d4d;
}
.back{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: red;
}
.item{
    display: flex;
    height:40px;
    background:#fff;
    border-bottom: 1px solid #ddd;
    align-items: center;
    padding:0 10px 0 10px;
}
.name{
    flex:1;
}
.score{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.score  img{
    width:20px;
    height:20px;
}
.rightImg{
    width: 20px;
    height: 20px;
}
.noChildren{
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
}
.totalName{
    flex:3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.allZero{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:#333;
    margin-right: 20px;
}
.allWin{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:#338ffe;
    margin-right: 20px;
}
.allLose{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    color:#fd4d4d
}