.tab_title_wrap{
	width: 100%;
    height: 40px;
	background: #07D739;
	display: flex;
}
.tab_title{
	flex:1;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #FFF;
	background-color: #0EFF26;
	display: inline-block;
}
.active{
	composes:tab_title;
	color: #FFF;
	background-color: #FF260E;
}
.tab_item{
	width: 300px;
	height: 300px;
	text-align: center;
	line-height: 300px;
	color: #FFF;
	display: none;
}
.tab_item:nth-of-type(1){
	background-color: #FF660E;
}
.tab_item:nth-of-type(2){
	background-color: #FF0E52;
}
.tab_item:nth-of-type(3){
	background-color: #07D739;
}
.show{
	composes:tab_item;
	display: block;
}