.content{
    border-top: 1px solid #ccc;
    font-size: 12px;
    margin-top: 44px;
    overflow: scroll;
    overflow-x: hidden;
}
.tabs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}