<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".atlas" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".atlas" mimeType="application/json" />
            <mimeMap fileExtension=".ani" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
