a{
    text-decoration: none;
}
.hello{
    margin-top: 40px;
}
.record_nav{
    top:40px;
    left: 0;
    height:40px;
    background: #888;
    display: flex;
}
.nav_link{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;

}
:global(.active){
    color: #f00;
    border-bottom: 2px solid blue;
}